<a href="https://colab.research.google.com/github/juansvas/testing_repo/blob/master/f_Strings_List_Comprehension_Lambda_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# f-Strings
# Sample uses
f"{2*38}"

'76'

In [0]:
name = "Juan"
f"{name * 5}"

'JuanJuanJuanJuanJuan'

In [0]:
# Can call functions in f-Strings
def to_lowercase(input):
  return input.lower()

f"{to_lowercase(name)} coded this"

'juan coded this'

In [0]:
# Methods can be called on variable inside f-string
f"{name.upper()} coded this."

'JUAN coded this.'

In [0]:
# Formatting Multi Line f-Strings
# Break after each line with back slash
# Start each additional line with own f" 
message = f"{name} coded this. "\
          f"THIS IS LINE TWO {name}. "\
          f"Always keep it {name.upper()}hundred"

message

'Juan coded this. THIS IS LINE TWO Juan. Always keep it JUANhundred'

In [0]:
# Use Triple Quotes (""") for multi-line f-string
new_message = f"""
      This is {name}.
      {name} lives in LA.
      LA keeps it {name}hundred.
      """
new_message
# Note output shows line breaks

'\n      This is Juan.\n      Juan lives in LA.\n      LA keeps it Juanhundred.\n      '

In [0]:
# List Comprehensions
# Simple list comprehension - short hand regular loop
# Format: values = [expression for value in collection]
squares = [x * x for x in range(10)]

# Comparable for loop
squares2 = []
for x in range(10):
  squares2.append(x * x)

In [0]:
print(squares)
print(squares2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
# Filtering for even numbers-- include if statement after original expression
even_squares = [x * x for x in range(10) if x % 2 == 0]
even_squares

[0, 4, 16, 36, 64]

In [0]:
# Lambda Functions
# Simple function
def myfunc(x, y, z):
  result = x + y +z
  return result

# Lambda alternative -- ':' serves as return
lambda x, y, z : x + y + z

In [0]:
# Simple function
def second(x):
  """Returns second item in iterable"""
  return x[1]

# List of tuples
a = [(1,2), (2,5), (3,1), (4,15)]

# Sort list by function
a.sort(key=second)
a

[(3, 1), (1, 2), (2, 5), (4, 15)]

In [0]:
# Lambda alternative
a.sort(key=lambda x:x[1])

In [0]:
# Squaring a number
squared = lambda x: x ** 2
squared(5)

25

In [0]:
# Adding 2 numbers
add = lambda x, y: x + y
add(3,6)

9

In [0]:
# Multiplying 3 numbers
mult = lambda x, y, z: x*y*z
mult(2,4,6)

48

In [0]:
# Default values -- y has default of 2
power = lambda x, y=2: x ** y
power(5)

25

In [0]:
# Using lambdas in .sort(key= )
# Sort by last name (last word in splitted string)
names = ['Juan Vasquez', 'Kim Rodriguez', 'Fernando Vasquez']
names.sort(key=lambda x: x.split()[-1].lower())
print(names)

['Kim Rodriguez', 'Juan Vasquez', 'Fernando Vasquez']

In [0]:
# Sorting tuples
# Sort tuple by ages, oldest first
people = [('Steve', 35), ('Karen', 28), ('Gerald', 58), ('Jo', 72)]
print(people)
people.sort(key=lambda x: x[1], reverse=True)
print(people)

[('Steve', 35), ('Karen', 28), ('Gerald', 58), ('Jo', 72)]
[('Jo', 72), ('Gerald', 58), ('Steve', 35), ('Karen', 28)]

In [0]:
# Create Person class and instantiate objects of that class
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __repr__(self):
    return f'{self.name} : {self.age}'

juan = Person('Juan', 31)
kim = Person('Kim', 32)

p = [juan, kim]
print(p)
p.sort(key= lambda x:x.age, reverse=True)
print(p)

[Juan : 31, Kim : 32]
[Kim : 32, Juan : 31]

In [0]:
# Filtering: filter(function, iterable)
nums = [1, 2, 3, 4]

# Use lambda to filter for even numbers
even = list(filter(lambda x: x % 2 == 0, nums))
print(even)

[2, 4]

In [0]:
numbers = list(range(1, 20))
odds = list(filter(lambda x: x % 2 !=0, numbers))
print(numbers)
print(odds)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [0]:
# check for values above mean
from statistics import mean
data = list(range(1,21))
avg = mean(data)
above_avg = list(filter(lambda x : x > avg, data))
print(data)
print(f"avg: {avg}")
print(f"above average: {above_avg}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
avg: 10.5
above average: [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [0]:
# Filtering text
nicknames = ['LAFC', 'Galaxy', 'Sounders', 'Quakes']
print(nicknames)

# New list filtering for names with less than 6 characters
short = list(filter(lambda x: len(x) < 6, nicknames))
print(short)

['LAFC', 'Galaxy', 'Sounders', 'Quakes']
['LAFC']

In [0]:
# Using Map to return new iterable: map(function, iterable)
# Function is applied to every iterable
numeros = [1, 2, 4, 6]
cuadrados = list(map(lambda x: x ** 2, nums))
print(cuadrados)

[1, 4, 9, 16]