In [0]:
import pandas as pd

# Making Toy Data Structures with Testing Module
import pandas.util.testing as tm

# Create variables
tm.N, tm.K = 15, 3

# Set seed for random data
import numpy as np
np.random.seed(444)

**Fake/Toy/ Dummy Data**

In [2]:
# Create toy Date-time DataFrame at the Month frequency
tm.makeTimeDataFrame(freq='M').head()

                   A         B         C
2000-01-31  0.357440 -0.880396  0.266873
2000-02-29  0.377538  0.152631 -0.480331
2000-03-31  1.382338  0.250250  0.300781
2000-04-30  1.175549  0.078508 -0.179054
2000-05-31 -0.939276 -0.903904  1.183669

In [3]:
# Create dummy DataFrame
tm.makeDataFrame().head()

                   A         B         C
nTLGGTiRHF -0.622768  0.645943  0.125115
WPBRn9jtsR -0.318718 -0.809053  1.150051
7B3wWfvuDA -1.987207 -1.079496  0.298679
yJ0BTjehH1  0.880243  0.740308 -1.215363
0luaYUYvy1 -0.931956  1.291187 -0.290725

In [4]:
# Check all attributes of tm module
# List comprehension to loop through tm's directory
[i for i in dir(tm) if i.startswith('make')]

['makeBoolIndex',
 'makeCategoricalIndex',
 'makeCustomDataframe',
 'makeCustomIndex',
 'makeDataFrame',
 'makeDateIndex',
 'makeFloatIndex',
 'makeFloatSeries',
 'makeIntIndex',
 'makeIntervalIndex',
 'makeMissingCustomDataframe',
 'makeMissingDataframe',
 'makeMixedDataFrame',
 'makeMultiIndex',
 'makeObjectSeries',
 'makePeriodFrame',
 'makePeriodIndex',
 'makePeriodSeries',
 'makeRangeIndex',
 'makeStringIndex',
 'makeStringSeries',
 'makeTimeDataFrame',
 'makeTimeSeries',
 'makeTimedeltaIndex',
 'makeUIntIndex',
 'makeUnicodeIndex']

**Accessor Methods**

In [6]:
# Check accessor methods
pd.Series._accessors

{'cat', 'dt', 'sparse', 'str'}

In [8]:
# Create small series
addr = pd.Series([
                  'Washington DC 2003',
                  'Brookly, NY 11211-1755',
                  'Omaha, NE 68154',
                  'Pittsburgh, PA 15211'
])

# Turn data to CAPS using string accessor
addr.str.upper()

0        WASHINGTON DC 2003
1    BROOKLY, NY 11211-1755
2           OMAHA, NE 68154
3      PITTSBURGH, PA 15211
dtype: object

In [9]:
# Create a range of dates
daterng = pd.Series(pd.date_range('2019', periods=9, freq='Q'))
daterng

0   2019-03-31
1   2019-06-30
2   2019-09-30
3   2019-12-31
4   2020-03-31
5   2020-06-30
6   2020-09-30
7   2020-12-31
8   2021-03-31
dtype: datetime64[ns]

In [11]:
# Access day name through dt accessor
daterng.dt.day_name()

0       Sunday
1       Sunday
2       Monday
3      Tuesday
4      Tuesday
5      Tuesday
6    Wednesday
7     Thursday
8    Wednesday
dtype: object

In [13]:
# Check for year end dates in variable
daterng[daterng.dt.is_year_end]

3   2019-12-31
7   2020-12-31
dtype: datetime64[ns]

**DatetimeIndex from Component Columns**

In [15]:
# Make some data
from itertools import product

# Create column names
datecols = ['year', 'month', 'day']

# Create dataframe
df = pd.DataFrame(list(product([2019, 2020], [1,2], [1,2,3])), columns=datecols)
df['data'] = np.random.randn(len(df))
df

    year  month  day      data
0   2019      1    1  2.042335
1   2019      1    2  0.125750
2   2019      1    3 -0.416462
3   2019      2    1  1.922173
4   2019      2    2 -0.431847
5   2019      2    3 -0.903792
6   2020      1    1 -0.200899
7   2020      1    2  0.916061
8   2020      1    3 -0.371112
9   2020      2    1  0.628953
10  2020      2    2 -0.859525
11  2020      2    3  1.640053

In [16]:
# Create Datetime Index by setting index to columns
df.index = pd.to_datetime(df[datecols])
df

            year  month  day      data
2019-01-01  2019      1    1  2.042335
2019-01-02  2019      1    2  0.125750
2019-01-03  2019      1    3 -0.416462
2019-02-01  2019      2    1  1.922173
2019-02-02  2019      2    2 -0.431847
2019-02-03  2019      2    3 -0.903792
2020-01-01  2020      1    1 -0.200899
2020-01-02  2020      1    2  0.916061
2020-01-03  2020      1    3 -0.371112
2020-02-01  2020      2    1  0.628953
2020-02-02  2020      2    2 -0.859525
2020-02-03  2020      2    3  1.640053

In [20]:
# Drop extra date columns
df = df.drop(datecols, axis=1)
df

                data
2019-01-01  2.042335
2019-01-02  0.125750
2019-01-03 -0.416462
2019-02-01  1.922173
2019-02-02 -0.431847
2019-02-03 -0.903792
2020-01-01 -0.200899
2020-01-02  0.916061
2020-01-03 -0.371112
2020-02-01  0.628953
2020-02-02 -0.859525
2020-02-03  1.640053

In [21]:
# Squeeze remaining column into a series
df.squeeze()

2019-01-01    2.042335
2019-01-02    0.125750
2019-01-03   -0.416462
2019-02-01    1.922173
2019-02-02   -0.431847
2019-02-03   -0.903792
2020-01-01   -0.200899
2020-01-02    0.916061
2020-01-03   -0.371112
2020-02-01    0.628953
2020-02-02   -0.859525
2020-02-03    1.640053
Name: data, dtype: float64

**Categorical Data**

In [24]:
# Simple series - some repeated items
colors = pd.Series([
                    'periwinkle',
                    'mint green',
                    'burnt orange',
                    'rose',
                    'rose',
                    'mint green',
                    'rose',
                    'navy'
])

# Create dictionary of keys and values
# Each unique color will be assigned an integer key, generated by enumerate
# Mapper is a dictionary with keys and value of the color
mapper = {v : k for k, v in enumerate(colors.unique())}

mapper

{'burnt orange': 2, 'mint green': 1, 'navy': 4, 'periwinkle': 0, 'rose': 3}

In [25]:
# Map mapper variable to colors for new numeric variable
as_int = colors.map(mapper)
as_int

0    0
1    1
2    2
3    3
4    3
5    1
6    3
7    4
dtype: int64

In [26]:
# Another approach
ccolors = colors.astype('category')
ccolors.cat.categories

Index(['burnt orange', 'mint green', 'navy', 'periwinkle', 'rose'], dtype='object')

**Groupby Object Iteration**

In [31]:
# Create url variable pointing to dataset
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data'

# Create column Names
cols = ['sex', 'length', 'diam', 'height', 'weight', 'rings']

# Create dataframe
abalone = pd.read_csv(url, usecols=[0,1,2,3,4,8], names=cols)

abalone['ring_quartile'] = pd.qcut(abalone['rings'], q=4, labels=range(1,5))

grouped = abalone.groupby('ring_quartile')

# Create view of grouped data by looping through iterable
for idx, frame in grouped:
  print(f'Ring Quartile: {idx}')
  print('-'*16)
  print(frame.nlargest(3, 'weight'), end='\n\n')

Ring Quartile: 1
----------------
     sex  length   diam  height  weight  rings ring_quartile
2619   M   0.690  0.540   0.185  1.7100      8             1
1044   M   0.690  0.525   0.175  1.7005      8             1
1026   M   0.645  0.520   0.175  1.5610      8             1

Ring Quartile: 2
----------------
     sex  length  diam  height  weight  rings ring_quartile
2811   M   0.725  0.57   0.190  2.3305      9             2
1426   F   0.745  0.57   0.215  2.2500      9             2
1821   F   0.720  0.55   0.195  2.0730      9             2

Ring Quartile: 3
----------------
     sex  length  diam  height  weight  rings ring_quartile
1209   F   0.780  0.63   0.215   2.657     11             3
1051   F   0.735  0.60   0.220   2.555     11             3
3715   M   0.780  0.60   0.210   2.548     11             3

Ring Quartile: 4
----------------
     sex  length   diam  height  weight  rings ring_quartile
891    M   0.730  0.595    0.23  2.8255     17             4
1763   M   0.775  0.630    0.25  2.7795     12             4
165    M   0.725  0.570    0.19  2.5500     14             4

In [32]:
# Explore keys for the grouped dataframe
grouped.groups.keys()

dict_keys([1, 2, 3, 4])

In [34]:
# Access group 2 rows
grouped.get_group(2).head()

   sex  length   diam  height  weight  rings ring_quartile
2    F   0.530  0.420   0.135  0.6770      9             2
8    M   0.475  0.370   0.125  0.5095      9             2
19   M   0.450  0.320   0.100  0.3810      9             2
23   F   0.550  0.415   0.135  0.7635      9             2
39   M   0.355  0.290   0.090  0.3275      9             2

In [36]:
# Check mean and median per group
grouped['height', 'weight'].agg(['mean', 'median'])

                 height           weight
                   mean median      mean  median
ring_quartile
1              0.106596  0.105  0.432374  0.3685
2              0.142721  0.145  0.852013  0.8440
3              0.157203  0.155  1.066880  1.0645
4              0.164813  0.165  1.114892  1.0655

**Mapping Trick for Membership Binning**

In [38]:
countries = pd. Series([
                        'United States',
                        'Canada',
                        'Mexico',
                        'Belgium',
                        'United Kingdom',
                        'Thailand'
])

groups = {
    'North America': (
        'United States',
        'Canada',
        'Mexico',
        'Greenland'
    ),
    'Europe': (
        'France',
        'Germany',
        'United Kingdom',
        'Belgium'
    )
}

from typing import Any

# New function to map membership
def membership_map(s: pd.Series, groups: dict, fillvalue: Any=-1) -> pd.Series:
                   groups = {x: k for k, v in groups.items() for x in v}
                   return s.map(groups).fillna(fillvalue)

# Try function
membership_map(countries, groups, fillvalue='other')

0    North America
1    North America
2    North America
3           Europe
4           Europe
5            other
dtype: object

In [0]:
# Compressing DFs
abalone.to_json('df.json.gz', orient='records', lines=True, compression='gzip')

In [0]:
import os.path
abalone.to_json('df.json', orient='records', lines=True)

In [41]:
os.path.getsize('df.json') / os.path.getsize('df.json.gz')

11.603035760226396