<a href="https://colab.research.google.com/github/juansvas/testing_repo/blob/master/Sorting_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Real Python Tutorial: https://realpython.com/courses/python-sorting-data/
# Completion Cert: https://realpython.com/certificates/9f69bb89-e28c-4707-af48-44124fe33ab9/

# Create list
numbers = [6, 9, 3, 1]

In [2]:
# Sort list
sorted(numbers)

[1, 3, 6, 9]

In [0]:
# Save sorted list as own variable
numbers_sorted = sorted(numbers)

In [4]:
# Show sorted List
numbers_sorted

[1, 3, 6, 9]

In [0]:
# Create a tuple and a set
numbers_tuple = (6, 9, 3, 1)
numbers_set = {5, 5, 10, 1, 0}

In [8]:
# Create own variables for sorted tuple and set
numbers_tuple_sorted = sorted(numbers_tuple)
numbers_set_sorted = sorted(numbers_set)

# Results are both lists even though original objects were a tuple and a set
print(numbers_tuple_sorted)
print(numbers_set_sorted)

[1, 3, 6, 9]
[0, 1, 5, 10]

In [11]:
# Sorting Strings
# String of numbers
string_number_value = '34521'

# String of text
string_value = "I like to sort!"

# Sorted versions
sorted_string_number = sorted(string_number_value)
sorted_string_value = sorted(string_value)

# Check output
print(sorted_string_number)
print(sorted_string_value)

# Note - sorting text order; Spaces, Special characters, Capital letters, lower-case letters

['1', '2', '3', '4', '5']
[' ', ' ', ' ', '!', 'I', 'e', 'i', 'k', 'l', 'o', 'o', 'r', 's', 't', 't']

In [12]:
# Split string at the spaces
sorted_string_words = sorted(string_value.split())
sorted_string_words

['I', 'like', 'sort!', 'to']

In [13]:
# Turn sorted words list back into a statement by joining at the spaces
" ".join(sorted_string_words)

'I like sort! to'

In [14]:
# Reverse Sorting

# Create a list and sort
names = ['Juan', 'Kim', 'Fernando']
sorted(names)

['Fernando', 'Juan', 'Kim']

In [15]:
# Sort in reverse alphabetical order
sorted(names, reverse=True)

['Kim', 'Juan', 'Fernando']

In [16]:
# Key arguments

# List of words
words = ['banana', 'pie', 'California', 'book']
sorted(words)

['California', 'banana', 'book', 'pie']

In [17]:
# Sort by length of characters using key argument
sorted(words, key=len)

['pie', 'book', 'banana', 'California']

In [18]:
# Create function that reverses a word
def reverse_word(word):
  return word[::-1]

Sort words by last character in word
sorted(words, key=reverse_word)

['California', 'banana', 'pie', 'book']

In [19]:
# Do the same thing above but using lambda function
sorted(words, key=lambda x: x[::-1])

['California', 'banana', 'pie', 'book']

In [21]:
# Using .sort() method
values_to_sort = [5, 2, 6, 1]
print(values_to_sort.sort())
# .sort() method doesn't generate new output but sorts the original value

None

In [22]:
# Original value now changed to sorted order
print(values_to_sort)

[1, 2, 5, 6]

In [23]:
# Sorting strings of data
phrases = ['when in rome',
           'what goes around comes around',
           'all is fair in love and war']

# Split using lambda function that turns each string into list of words & sorts by the 2nd letter in the 3rd word
phrases.sort(key=lambda x: x.split()[2][1], reverse=True)
phrases

['what goes around comes around',
 'when in rome',
 'all is fair in love and war']

In [24]:
# Common issues when sorting

mixed_types = [None, 0]
sorted(mixed_types) # Generates error because it tries to do less-than/more-than between items

TypeError: ignored

In [0]:
mixed_numbers = [5, '1', 100, '34']

In [26]:
# Error because list items are mix of integers and strings
sorted(mixed_numbers)

TypeError: ignored

In [27]:
# Fix issue above my sorting a list comprehension that turns items into integers
sorted([int(x) for x in mixed_numbers])

[1, 5, 34, 100]

In [28]:
# Sorting similar values
similar_values = [False, 0, 1, 'A' == 'B', 1<=0]
similar_values

[False, 0, 1, False, False]

In [29]:
sorted(similar_values)
# Python sees 0 and subsequent False as equals

[False, 0, False, False, 1]

In [0]:
from collections import namedtuple

In [0]:
# Create a named tuple and empty list to add runners to using Runner
Runner = namedtuple('Runner', 'bibnumber duration')
runners = []
runners.append(Runner('23456', 1500))
runners.append(Runner('12423', 9999))

In [37]:
runners

[Runner(bibnumber='23456', duration=1500),
 Runner(bibnumber='12423', duration=9999)]

In [0]:
runners.sort(key=lambda x: getattr(x, 'duration'))
top_runner = runners[:0]

In [39]:
print(top_runner)

[Runner(bibnumber='23456', duration=1500)]